.cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td {
  max-width: 60%;
  padding-top: 18px; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td input.cmb2-upload-file {
    width: 50%; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td input.cmb2-text-small {
    margin-right: 10px; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb2-metabox-description {
    padding-bottom: 20px; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row {
    padding-top: 0; }
    .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row .cmb-td {
      padding-left: 0;
      padding-bottom: 10px;
      padding-top: 0; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row .cmb-td.cmb-remove-row {
        padding-top: 6px;
        padding-left: 5px; }
        .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row .cmb-td.cmb-remove-row .button {
          background: #c90000;
          color: #fff;
          text-decoration: none;
          font-size: 11px;
          border-radius: 3px; }
          .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row .cmb-td.cmb-remove-row .button:hover {
            background: #bf0000; }
          .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-repeat-row .cmb-td.cmb-remove-row .button:active {
            background: #b50000; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row .cmb-td .cmb-add-row {
    padding-top: 20px; }
.cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-type-taxonomy-multicheck .cmb-td {
  padding-top: 24px; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-type-taxonomy-multicheck .cmb-td p {
    margin: 0; }
    .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-type-taxonomy-multicheck .cmb-td p .cmb-multicheck-toggle {
      display: none; }
.cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td {
  max-width: 100%;
  padding: 0; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-group .cmb-row:last-child .cmb-td {
    padding: 0; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-group-name {
    margin: 0; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 0;
    padding-bottom: 20px; }
    .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td {
      padding: 0; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-group-title {
        margin-bottom: 10px; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-type-file .cmb2-upload-button {
        float: none;
        vertical-align: top;
        padding: 6px 8px 5px; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-repeat-group-field {
        padding-bottom: 10px; }
        .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-repeat-group-field .cmb-th {
          padding-bottom: 10px; }
        .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-repeat-group-field .cmb-td {
          padding-top: 7px;
          padding-bottom: 0; }
          .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-repeat-group-field .cmb-td textarea {
            width: 100%; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-type-text input {
        width: 75%; }
      .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-remove-field-row {
        padding-top: 20px; }
        .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-remove-field-row .cmb-shift-rows {
          height: 20px; }
        .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-remove-field-row .cmb-remove-group-row.button {
          background: #c90000;
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          padding: 7px 10px;
          border-radius: 3px; }
          .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-remove-field-row .cmb-remove-group-row.button:hover {
            background: #bf0000; }
          .cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb-row.cmb-repeat-group-wrap .cmb-td .cmb-repeatable-grouping > .cmb-td .cmb-field-list .cmb-remove-field-row .cmb-remove-group-row.button:active {
            background: #b50000; }
.cmb-form#details_container_front #cmb2-metabox-details_container_front .cmb2-checkbox-list.cmb2-list {
  list-style-type: none; }
.cmb-form#details_container_front #cmb2-metabox-details_container_front .button {
  padding: 5px 8px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #333; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .button:hover {
    background: #f0f0f0; }
  .cmb-form#details_container_front #cmb2-metabox-details_container_front .button:active {
    background: #e8e8e8; }
.cmb-form#details_container_front input[name="submit-cmb"] {
  font-size: 18px;
  float: right; }

.media-modal.wp-core-ui .media-frame-title h1 {
  font-weight: normal; }
.media-modal.wp-core-ui .media-modal-close .screen-reader-text {
  display: none; }
